.infoNavContainer {
  width: 100%;
  background: #27282a;
  position: sticky;
  z-index: 10;
  top: 120px;
  height: 50px;
  margin-top: 2px;
}

.infoNav {
  margin: auto;
  max-width: 545px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.tab {
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #fff;
  cursor: default;
}
