.searchContainer {
  display: flex;
  height: 100%;
}

.searchForm {
  background: #1f2122;
  width: 500px;
}

.input {
  background: inherit;
  height: 100%;
  border: none;
  outline: none;
  width: 90%;
  padding: 0 12px;
  font-size: 1rem;
  color: #a1a7ad;
}

.input::placeholder {
  color: #a1a7ad;
}

ion-icon {
  color: #a1a7ad;
  font-size: 18px;
}

#submitBtn {
  background: inherit;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 12px;
}
