header {
  background: #27282a;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 120px;
  padding-top: 5px;
  padding-bottom: 0;
  border-bottom: 1px solid black;
}

.headerWrap {
  max-width: 1280px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 240px;
  height: auto;
  cursor: pointer;
}

.headerMid {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.headerLast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
