header {
  background: #27282a;
  height: 120px;
  padding: 5px;
  padding-bottom: 0;
}

.headerWrap {
  max-width: 1280px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 240px;
  height: auto;
}

.headerMid {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.headerLast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
