header {
  background: #27282a;
  height: 120px;
  padding: 5px;
}

.headerWrap {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 240px;
  height: auto;
}
