.dropdownContainer {
  height: 100%;
  position: relative;
}

.dropdown {
  height: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown:hover {
  border-bottom: 3px solid white;
}

.dropdownMenu {
  position: absolute;
  display: none;
  background: #1f2122;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  z-index: 15;
}

.dropdownContainer:hover .dropdownMenu {
  display: flex;
}
