.linkContainer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  color: #a1a7ad;
}

.linkContainer > a {
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}

.linkContainer > a:hover {
  color: #fff;
}
